.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid red; */
}
.header-box {
  display: flex;
  align-items: center;
}
.root {
  display: flex;
  background: #fff;
  padding-top: 24px;
  padding-bottom: 25px;
}
.root-logo {
  margin-right: 93px;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.span-logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.root-logo:hover,
.root-logo:focus {
  border: none;
  outline: 0px solid transparent;
}
.root-list {
  display: flex;
  gap: 50px;
}
.root-list-a {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.root-list-a:hover,.root-list-a:focus {
  color: #2196f3;
  border: none;
  outline: 0px solid transparent;
}
.root-list-a:hover::after {
  opacity: 1;
}
.root-item {
  position: relative;
}
.root-list-a::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  top: 46px;
  border-radius: 2px;
  width: 100%;
  opacity: 0;
}
.root-list2 {
  margin-left: auto;
  display: flex;
  gap: 30px;
}
.root-list2-a {
  display: flex;
  align-items: center;
}
.root-list2-a:hover,.root-list2-a:focus {
  color: #2196f3;
  border: none;
  outline: 0px solid transparent;
  .svg-mail {
    fill: #2196f3;
  }
}
.root-item:last-child {
  .svg-mail {
    width: 10px;
    height: 16px;
  }
}
.svg-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  fill: #757575;
}
.svg-phone {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
  fill: #757575;
}
.root-list2-a {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.root-list2-a:hover {
  color: #2196f3;
  .svg-mail {
    fill: #2196f3;
  }
}
.root-list2-b {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.root-list2-b:hover {
  color: #2196f3;
  .svg-phone {
    fill: #2196f3;
  }
}
.hero {
    padding-top: 94px;
    height: 38px;
}
.hero ul {
    padding-left: 512px;
    display: flex;
    gap: 8px;
}
.hero-li-button {
    border: none;
    border-radius: 4px;
    background: #F5F4FA;
    padding: 6px 25px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.hero-li-button:hover,.hero-li-button:focus {
    background: #2196F3;
    color: #FFF;
    border: none;
    outline: 0px solid transparent;

}
.main {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main ul {
    display: flex;
}
.main-ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.main-btn {
    padding: 6px 22px;
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
}
.main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.main-li {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEE;
background: #FFF;
position: relative;
overflow: hidden;
}
.main-li:hover {
  .main-descripe {
    opacity: 1;
  }
}
.main-descripe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.90);
  width: 370px;
height: 294px;
color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
opacity: 0;
}
.main-img {
    width: 100%;
}
.main-title {
    margin-bottom: 4px;
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.main-text {
    color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}
.main-box {
    margin-top: 20px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
}
.footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-logo {
    color: #2196f3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }
  .footer-span {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }
  .footer-logo:focus {
      border: none;
    outline: 0px solid transparent;
  }
  .footer-adress {
    margin-top: 20px;
    font-style: normal;
  }
  .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .footer-li:first-child > .footer-link {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    border: none;
    outline: 0px solid transparent;
  }
  .footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
  .footer-link:focus {
    border: none;
    outline: 0px solid transparent;
  }
  .footer-div1 {
    display: flex;
    align-items: baseline;
  }
  .footer-div3 {
    margin-left: 70px;
  }
  .footer-headline {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .footer-ul1 {
    margin-top: 20px;
    gap: 10px;
    display: flex;
  }
  .svg-footer-link {
    width: 40px;
    height: 40px;
    fill: #ffffff;
  }
  .footer-svg {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-svg:hover {
    background: #2196f3;
  }
  .footer-svg:focus {
    border: none;
    outline: 0px solid transparent;
    background: #2196F3;
  }
  .footer-div4 {
    display: flex;
  }
  .dispatch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;
  }
  .dispatch-label {
    display: block;
    color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  }
  .dispatch-input {
    width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  }
  .dispatch-input:hover,.dispatch-input:focus {
    border: none;
    outline: 1px solid #2196F3;
  }
  .dispatch-btn {
    width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  padding-left: 28px;
  margin-left: 12px;
  }
  .dispatch-btn:hover,
  .dispatch-btn:focus {
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: 0px solid transparent;
  }
  .dispatch-box {
  position: relative;
  }
  .dispatch-carton {
    display: flex;
  }
  .dispatch-send {
    position: absolute;
    width: 24px;
  height: 24px;
  fill: #FFF;
  top: 13px;
  bottom: 13px;
  right: 28px;
  left: 148px;
  margin-left: 10px;
  }